<div class="top-offers-container">
    <h2 class="section-title">
        TOP Ofertas
      <a href="#" class="view-all">Ver todas &raquo;</a>
    </h2>
    
    <div class="offers-grid">
      <div class="offer-card" *ngFor="let offer of topOffers">
        <div class="offer-image">
          <span class="offer-label">
            <span class="material-icons">local_offer</span> <!-- Icono en lugar de texto -->
          </span>
          <img [src]="offer.image" alt="Oferta">
        </div>
        <div class="offer-details">
          <span class="offer-price"><strong>{{ offer.price }}€</strong> <span class="offer-unit">{{ offer.unit }}</span></span>
          <p class="offer-description">{{ offer.description }}</p>
          <div class="offer-meta">
            <span class="offer-stock">
              <span class="material-icons">shopping_cart</span> {{ offer.stock }}
            </span>
            <span class="offer-category">
              <span class="material-icons">inventory</span> {{ offer.category }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  