<!-- Ajuste del layout para asegurar ancho completo -->
<!--<div class="container">
  
  <app-header class="header"></app-header>
  
  <app-top-offers></app-top-offers>
  <app-offers></app-offers>
  <app-clearance-sale class="clearance-sale-container"></app-clearance-sale>
  <app-recently-added class="recently-added-container"></app-recently-added>
  <app-comments class="comments-container"></app-comments>
  <app-languages class="languages-container"></app-languages>
  <app-newsletter class="newsletter-container"></app-newsletter>
  
  <app-footer class="footer"></app-footer>
  
</div>-->

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
