<mat-nav-list>
  <!-- 🔒 Secciones solo visibles para administradores -->
  <ng-container *ngIf="isAdmin">
    <mat-divider></mat-divider>

    <a mat-list-item routerLink="/settings/admin-usuarios">
      <mat-icon>manage_accounts</mat-icon> Gestión de usuarios
    </a>
    
    <a mat-list-item routerLink="/settings/admin-productos">
      <mat-icon>inventory_2</mat-icon> Gestión global de productos
    </a>
    
    <a mat-list-item routerLink="/settings/admin-estadisticas">
      <mat-icon>bar_chart</mat-icon> Estadísticas generales
    </a>
    
    <a mat-list-item routerLink="/settings/admin-control">
      <mat-icon>admin_panel_settings</mat-icon> Panel de control
    </a>    
    
    <mat-divider></mat-divider>
  </ng-container>

    <a mat-list-item routerLink="/settings">
        <mat-icon>home</mat-icon> De oficina
    </a>      
  
    <a mat-list-item routerLink="mensajes">
      <mat-icon>mail</mat-icon> Mensajes
    </a>
  
    <a mat-list-item routerLink="pedidos">
      <mat-icon>shopping_cart</mat-icon> Pedidos
    </a>
  
    <a mat-list-item routerLink="noticias">
      <mat-icon>announcement</mat-icon> Noticias para Merkandi
    </a>
  
    <a mat-list-item routerLink="servicios">
      <mat-icon>build</mat-icon> Servicios adicionales
    </a>
  
    <mat-divider></mat-divider>
  
    <a mat-list-item routerLink="ofertas">
      <mat-icon>local_offer</mat-icon> Ofertas
    </a>
  
    <a mat-list-item routerLink="perfil">
      <mat-icon>account_circle</mat-icon> Perfil del mayorista
    </a>
  
    <a mat-list-item routerLink="analisis">
      <mat-icon>analytics</mat-icon> Análisis mayorista
    </a>
  
    <a mat-list-item routerLink="calidad">
      <mat-icon>star</mat-icon> Calidad de la cuenta
    </a>
  
    <a mat-list-item routerLink="comentarios">
      <mat-icon>chat</mat-icon> Comentarios
    </a>
  
    <a mat-list-item routerLink="ajustes">
      <mat-icon>settings</mat-icon> Ajustes
    </a>
  
    <mat-divider></mat-divider>
  
    <a mat-list-item routerLink="observado">
      <mat-icon>visibility</mat-icon> Observado
    </a>
  
    <mat-divider></mat-divider>
  
    <a mat-list-item routerLink="misdatos">
      <mat-icon>badge</mat-icon> Mis datos
    </a>
  
    <a mat-list-item routerLink="avisos">
      <mat-icon>notifications</mat-icon> Avisos
    </a>
  
    <a mat-list-item routerLink="facturas">
      <mat-icon>receipt_long</mat-icon> Pedidos y facturas
    </a>
  
  </mat-nav-list>
  